azure-core==1.30.2
azure-storage-blob==12.22.0
boto3==1.35.10
botocore==1.35.10
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
confluent-kafka==2.5.0
cryptography==43.0.1
idna==3.8
isodate==0.6.1
jmespath==1.0.1
numpy==2.1.0
pandas==2.2.2
pyarrow==17.0.0
pycparser==2.22
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.3
s3transfer==0.10.2
six==1.16.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
